# Copy these keys into a new file named '.env' and fill in your local credentials
PG_DBNAME=your_database_name_here
PG_USER=postgres
PG_PASSWORD=your_pgadmin_password_here
PG_HOST=localhost
PG_PORT=5432