# Database Connectors & Caching
psycopg2-binary==2.9.9       
pymilvus==2.3.6              

# Local AI & Embeddings
sentence-transformers==2.5.1 


# Environment & Utilities
python-dotenv==1.0.1         

# Dependency Fixes for Milvus
setuptools<70.0.0
marshmallow<3.20.0